<p>floor-view works!</p>
<h1>Building:</h1>
<select name="Building" id="Building">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
<h1>Floor:</h1>
<select name="Floor" id="Floor">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
<canvas id="c" height="400" width="600"></canvas>

<!--
<h2>{{rOOM.name}} Details</h2>
<div><span>name: </span>{{rOOM.name}}</div>
<div><span>id: </span>{{rOOM.id}}</div>
<div><span>floor: </span>{{rOOM.floor}}</div>

-->